# Sets
## A set is a collection which is unordered, unchangeable*, and unindexed.

In [1]:
# duplicates not allowed
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'banana', 'apple', 'cherry'}

In [2]:
# True and 1 is considered the same value:
thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

{True, 2, 'banana', 'apple', 'cherry'}

In [3]:
# False and 0 is considered the same value:
thisset = {"apple", "banana", "cherry", False, True, 0}

print(thisset)

{False, True, 'banana', 'apple', 'cherry'}

In [4]:
# You cannot access items in a set by referring to an index or a key.

#But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
apple
cherry

In [5]:
#Add an item to a set, using the add() method:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'banana', 'apple', 'cherry', 'orange'}

In [6]:
#To add items from another set into the current set, use the update() method.

thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'papaya', 'banana', 'apple', 'cherry', 'pineapple', 'mango'}

In [7]:
# The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'banana', 'orange', 'kiwi', 'apple', 'cherry'}

In [9]:
#Remove Item
# To remove an item in a set, use the remove(), or the discard() method.

thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'apple', 'cherry'}

# If the item to remove does not exist, remove() will raise an error.
# If the item to remove does not exist, discard() will NOT raise an error.

In [10]:
#Remove
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'apple', 'cherry'}

In [11]:
# Discard
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'apple', 'cherry'}

# join sets

There are several ways to join two or more sets in Python.

The union() and update() methods joins all items from both sets.

The intersection() method keeps ONLY the duplicates.

The difference() method keeps the items from the first set that are not in the other set(s).

The symmetric_difference() method keeps all items EXCEPT the duplicates.

In [13]:
# The union() method returns a new set with all items from both sets.

#You can use the | operator instead of the union() method.
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
print(set3)

{'b', 'c', 1, 'a', 2, 3}
{'b', 'c', 1, 'a', 2, 3}

In [14]:
# Join multiple sets with the union() method:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{1, 2, 3, 'Elena', 'b', 'c', 'a', 'bananas', 'apple', 'cherry', 'John'}

In [15]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1 | set2 | set3 |set4
print(myset)

{1, 2, 3, 'Elena', 'b', 'c', 'a', 'bananas', 'apple', 'cherry', 'John'}