### Assignment

In [6]:
UserAmount = int(input("How much money do you have in your account?"))
UserTime=int(input("What is the time?"))

if UserAmount>=200 and UserTime<7:
    print("Go to Theme park")
elif UserAmount<200 and UserTime>7:
    print("Go to Ice Cream Parlour")
else:
    print("Go to home")

Go to home

## List

In [7]:
mylist=['irwin',8447664405,35]
print(mylist)

['irwin', 8447664405, 35]

In [8]:
# Length of list
print(len(mylist))

3

In [9]:
#Slicing list
print(mylist[0:1])

['irwin']

In [10]:
#Slicing list
print(mylist[0:2])

['irwin', 8447664405]

In [11]:
#Slicing list
print(mylist[0:3])

['irwin', 8447664405, 35]

In [12]:
#Slicing list
print(mylist[1:3])

[8447664405, 35]

In [13]:
#Slicing list
print(mylist[::1])

['irwin', 8447664405, 35]

In [14]:
#Slicing list : Reverse
print(mylist[::-1])

[35, 8447664405, 'irwin']

In [15]:
#Append
mylist.append('Tanya')
print(mylist)

['irwin', 8447664405, 35, 'Tanya']

In [16]:
#Insert : Used to Insert value at particular index
mylist.insert(1,"Chawla")
print(mylist)

['irwin', 'Chawla', 8447664405, 35, 'Tanya']

In [17]:
#Add one list to another.
mylist2=['Sinha']
mylist.extend(mylist2)
print(mylist)

['irwin', 'Chawla', 8447664405, 35, 'Tanya', 'Sinha']

In [18]:
#Nested list
mylistint=[1,2,3]
mylistint.append([7,9])
print(mylistint)

[1, 2, 3, [7, 9]]

In [19]:
mylistint.append(['irwin','chawla'])

In [20]:
print(mylistint)

[1, 2, 3, [7, 9], ['irwin', 'chawla']]

In [21]:
# Access Irwin

print(mylistint[4][0])

irwin

In [23]:
# pop : to remove last value from list, it returns pop value

print(mylist)
storepop=mylist.pop()
print(storepop)
print(mylist)

['irwin', 'Chawla', 8447664405, 35, 'Tanya', 'Sinha']
Sinha
['irwin', 'Chawla', 8447664405, 35, 'Tanya']

In [25]:
# remove: To remove particular value from list
print(mylist)
storeRemovedValue=mylist.remove(8447664405)
print(storeRemovedValue) # This Value is not saved.Returns None
print(mylist)

['irwin', 'Chawla', 8447664405, 35, 'Tanya']
None
['irwin', 'Chawla', 35, 'Tanya']

In [26]:
# del : to delete list
# del my_list	Deletes the entire list object	❌ Dont keep list object
# del my_list[i]	Deletes item at index i	✅ keep list object
print(mylistint)
del mylistint

[1, 2, 3, [7, 9], ['irwin', 'chawla']]

In [27]:
print(mylistint)

NameError: name 'mylistint' is not defined

In [28]:
mylistnew=[1,2,3,4,'raja']
print(mylistnew)

[1, 2, 3, 4, 'raja']

In [29]:
# Clear : keeps list objects, just clears elements
print(mylistnew)
mylistnew.clear()
print(mylistnew)

[1, 2, 3, 4, 'raja']
[]

In [33]:
# Sort the list
mylist1=[7,9,8,5]
print(mylist1)
mylist1.sort()
print(mylist1)  #Sorts the original list

[7, 9, 8, 5]
[5, 7, 8, 9]

In [34]:
# Sort in decending
print(mylist1)
mylist1.sort(reverse='True')
print(mylist1)

[5, 7, 8, 9]
[9, 8, 7, 5]

In [39]:
# use reverse to reverse elements of list (not decending but reverses)
print(mylist1)
mylist1.reverse()

[9, 8, 7, 5]

In [40]:
print(mylist1)

[5, 7, 8, 9]

In [42]:
# Copy list

newlist=mylist1.copy()
print(newlist)

[5, 7, 8, 9]

In [43]:
# Count particular value in list

newlist=[1,1,1,3,5,6,6,7]
newlist.count(1)

3