# Data Types
### Import ast for identifying original datatype

import ast
inputlist=ast.literal_eval(inputlist)

In [4]:
import ast

In [7]:
inputlist=input("Enter List as input:")

print("Before using ast : ",inputlist)
print(type(inputlist))
inputlist=ast.literal_eval(inputlist)
print("After using ast : ",inputlist)
print(type(inputlist))

Before using ast :  [9,0,5,3]
<class 'str'>
After using ast :  [9, 0, 5, 3]
<class 'list'>

In [8]:
data=input("Enter your age :")
print(type(data))
data=ast.literal_eval(data)
print(type(data))

<class 'str'>
<class 'int'>

### Strings , Integer,Float, Tuples, Booleans are mutable

In [ ]:
#Its not the variable name that is assigned memory, its the value that is assigned memory and that
# memory address is stored in variable name. As soon as value is changed in variable, address is updated
a=5
print(id(a))
print(hex(id(a)))

140731855751736
0x7ffeb0454a38

In [10]:
a=6
print(id(a))
print(hex(id(a)))

140731855751768
0x7ffeb0454a58

### Lists , Dictonaries , sets are immutable. That is we can add values in the same address

In [11]:
mylist=[1,2,3]
print(mylist)
print(hex(id(mylist)))

mylist.append(4)
print(mylist)
print(hex(id(mylist)))

[1, 2, 3]
0x145b15c0f40
[1, 2, 3, 4]
0x145b15c0f40

In [13]:
mytuple=(1,'irwin')
print(type(mytuple))
print(mytuple)
print(hex(id(mytuple)))

<class 'tuple'>
(1, 'irwin')
0x145b1614440

In [15]:
mytuple=list(mytuple)
print(mytuple)
print(hex(id(mytuple)))

[1, 'irwin']
0x145b16e6e00

In [16]:
print(type(mytuple))

<class 'list'>

In [18]:
mytuple.append('Chawla')
print(mytuple)

[1, 'irwin', 'Chawla']

In [19]:
mytuple=tuple(mytuple)
print(type(mytuple))
print(mytuple)

<class 'tuple'>
(1, 'irwin', 'Chawla')

# To add any action of tuples, we need to convert them to list and then add / remove values and then convert back to tuples

In [20]:
mytuple[0]

1

In [21]:
print(mytuple[0:1])

(1,)

In [ ]:
mytuple1=(1)
print(mytuple1)
print(type(mytuple1))

(1, 'irwin', 'Chawla')
<class 'tuple'>

### Sets : Unordered (Cant be sliced), Mutable ,distinct ,{ }

In [23]:
myset={6,6,6,5,5,3,2,1}
print(myset)

{1, 2, 3, 5, 6}

In [24]:
# cant be sliced
print(myset[0])

TypeError: 'set' object is not subscriptable

In [25]:
myset.add(5000)
print(myset)

{1, 2, 3, 5, 6, 5000}

In [27]:
myset2={987}
print(myset2)

{987}

In [28]:
myset.update(myset2)
print(myset)

{1, 2, 3, 5, 6, 5000, 987}

In [29]:
myset.pop()

1

In [30]:
print(myset)

{2, 3, 5, 6, 5000, 987}

In [31]:
myset.remove(5000)
print(myset)

{2, 3, 5, 6, 987}

In [32]:
myset.append(786)

AttributeError: 'set' object has no attribute 'append'

In [33]:
print(myset)

{2, 3, 5, 6, 987}

In [34]:
myset.discard(987)
print(myset)

{2, 3, 5, 6}

In [ ]:
myset.discard(786) # Removes if present

In [ ]:
myset.remove(786) # throws error if value is not present

KeyError: 786

# Dictionaries : Ordered , Mutable , {} , Key value pair

In [1]:
mydict={}
print(mydict)

{}

In [2]:
mydict2={}
print(mydict2)
print(type(mydict2))

{}
<class 'dict'>

In [3]:
mydict3=dict()
print(type(mydict3))

<class 'dict'>

In [4]:
mydict[0]='1'
print(mydict)

{0: '1'}

In [5]:
mydict.clear()

In [6]:
print(mydict)

{}

In [7]:
mydict[1]={}

In [8]:
print(mydict)

{1: {}}

In [9]:
fname=input('Enter your Fname: ')
lname=input('Enter your Lname: ')
mydict[1]["fname"]=fname
mydict[1]["lname"]=lname
print(mydict)

{1: {'fname': 'irwin', 'lname': 'Chawla'}}

In [17]:
mydict.update({"fname":'Tanya'})
print(mydict)

{1: {'fname': 'irwin', 'lname': 'Chawla'}, 'fname': 'Tanya'}