### Loops and Iterators

In [12]:
mylist=[1,2,3,4,5]
print(mylist)

[1, 2, 3, 4, 5]

In [13]:
for i in mylist:
    print(i)

1
2
3
4
5

In [14]:
for i in mylist:
    print(i,end='')

12345

In [15]:
for i in mylist:
    print(i,end=' ')

1 2 3 4 5

In [16]:
for i in mylist:
    print(i,end=',')

1,2,3,4,5,

In [17]:
fruits=['oranges','watermelon','muskmelon','kiwi']
for i in fruits:
    print(i,end=' , ')

oranges , watermelon , muskmelon , kiwi ,

In [18]:
for i in mylist:
    print(2*i)

2
4
6
8
10

In [19]:
for i in range(0,11):
    print(i*2)
    i+=1

0
2
4
6
8
10
12
14
16
18
20

In [20]:
for i in range(1,11,2): #Start from 1, Step size : 2
    print(i*2)
    i+=1

2
6
10
14
18

In [21]:
for i in range(10,0,-1):  #Reverse Iteration
    print(i*2)
    i-=1

20
18
16
14
12
10
8
6
4
2

print
*
**
***
****
*****

In [24]:
for i in range(1,6):
    print('*'*i)

*
**
***
****
*****

In [38]:
for i in range(1,6,2):
    print(i*'*')

*
***
*****

In [40]:
for i in range(1,4):
    maxval=3
    print((maxval-i)*'-'+i*'*')

--*
-**
***

In [43]:
for i in range(1,4):
    for v in range(2,0,-1):
        print(v*'_')

__
_
__
_
__
_

In [45]:
    for v in range(2,-1,-1):
        print(v)

2
1
0

In [25]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [26]:
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [27]:
for i in thisdict:
    print(i)

brand
model
year

In [29]:
for i in thisdict.keys():
    print(i)

brand
model
year

In [30]:
for i in thisdict.values():
    print(i)

Ford
Mustang
1964

In [31]:
for i in thisdict.items():
    print(i)

('brand', 'Ford')
('model', 'Mustang')
('year', 1964)

In [35]:
print('hello')
print('hello','hi')
print('hello','hi',end='') # By default print uses \n but we can override it by using end='', it will replace \n with ''
print('hi2')

hello
hello hi
hello hihi2

In [48]:

for i in range(1,11):
    if i==7:
        continue
    print('Student id :',i)

Student id : 1
Student id : 2
Student id : 3
Student id : 4
Student id : 5
Student id : 6
Student id : 8
Student id : 9
Student id : 10

In [57]:
defaulterlist=[5,8]
mylist=[]
for i in range(1,11):
    if i in defaulterlist:
        continue
    mylist.append(i)
print(mylist)

[1, 2, 3, 4, 6, 7, 9, 10]

In [58]:
defaulterlist=[5,8]
mylist=[]
for i in range(1,11):
    if i in defaulterlist:
        break
    mylist.append(i)
print(mylist)

[1, 2, 3, 4]